---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>

    {% if site.analytics-google %}
        {% include analytics-google.html %}
    {% endif %}

    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name=author content="{{ site.name }}">

    {% seo %}
    <!-- Twitter Cards -->
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	{% if page.excerpt %}<meta name="twitter:description" content="{{ page.excerpt | strip_html }}">{% endif %}
	{% if site.owner.twitter %}<meta name="twitter:site" content="@{{ site.owner.twitter }}">{% endif %}
	{% if author.twitter %}<meta name="twitter:creator" content="@{{ author.twitter }}">{% endif %}
	{% if page.image.feature %}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image" content="{{ site.url }}/images/{{ page.image.feature }}">
	{% else %}
	<meta name="twitter:card" content="summary">
	<meta name="twitter:image" content="{% if page.image.thumb %}{{ site.url }}/images/{{ page.image.thumb }}{% else %}{{ site.url }}/images/{{ site.logo }}{% endif %}">
	{% endif %}

	<!-- Open Graph -->
	<meta property="og:locale" content="{{ site.locale }}">
	<meta property="og:type" content="article">
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	{% if page.image.feature %}
	<meta name="og:image" content="{{ site.url }}/images/{{ page.image.feature }}">
	{% else %}
	<meta name="og:image" content="{% if page.image.thumb %}{{ site.url }}/images/{{ page.image.thumb }}{% else %}{{ site.url }}/images/{{ site.logo }}{% endif %}">
	{% endif %}

	{% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | strip_html }}">{% endif %}
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
	<meta property="og:site_name" content="{{ site.title }}">
	
    {% include favicon.html %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}{{ "/feed.xml" }}" />

    <style>
    {% capture scss_sheet %}{% include style.scss %}{% endcapture %}
    {{ scss_sheet | scssify }}
    </style>

</head>
<body>

    <div class="wrapper-{% if site.width == "normal" %}normal{% elsif site.width == "large" %}large{% endif %}">
        {% if page.tag %}
            <div class="post">
        {% else %}
            {% if showHeader != true %}
                <div class="page {{ page.title | downcase }}">
            {% else %}
                <div class="{{ page.title | downcase }}">
            {% endif %}
        {% endif %}

            {{ content }}
        </div>
    </div>

    {% include icons.html %}

</body>
</html>
